#include "resource.h"

IDI_KERNELP ICON "kernelp.ico"

IDR_UI_INDEX RCDATA "..\\ui\\index.html"
IDR_UI_CSS   RCDATA "..\\ui\\styles.css"
IDR_UI_APP   RCDATA "..\\ui\\app.js"
IDR_UI_THREE RCDATA "..\\ui\\vendor\\three.min.js"
IDR_UI_GSAP  RCDATA "..\\ui\\vendor\\gsap.min.js"

IDR_FFMPEG         RCDATA "..\\bin\\ffmpeg.exe"
IDR_FFPROBE        RCDATA "..\\bin\\ffprobe.exe"
IDR_DLL_AVCODEC    RCDATA "..\\bin\\avcodec-63.dll"
IDR_DLL_AVDEVICE   RCDATA "..\\bin\\avdevice-63.dll"
IDR_DLL_AVFILTER   RCDATA "..\\bin\\avfilter-12.dll"
IDR_DLL_AVFORMAT   RCDATA "..\\bin\\avformat-63.dll"
IDR_DLL_AVUTIL     RCDATA "..\\bin\\avutil-61.dll"
IDR_DLL_SWRESAMPLE RCDATA "..\\bin\\swresample-7.dll"
IDR_DLL_SWSCALE    RCDATA "..\\bin\\swscale-10.dll"
